<div class="wrapper">
  <div class="title-section">
    <h1>Home</h1>
  </div>

  <div class="section">
    <ng-content *ngIf="showContent">
      <p>
        KeyboardMasters.org is a platform designed to help you improve your
        typing skills. Whether you're looking to enhance your speed or accuracy,
        we have tools to help you practice and improve.
      </p>

      <p>
        Our 'Typing Training' tool lets you create customized typing tests that
        fit your needs. You can choose to include or exclude specific letters,
        syllables, or words, set word lengths, and even add special characters
        or numbers for extra practice. It's a flexible way to focus on the areas
        where you want to improve.
      </p>

      <p>
        KeyboardMasters.org also keeps track of your typing test history. You
        can review your past results and identify areas where you can do better.
      </p>

      <p>
        The platform also features a leaderboard where you can see how your
        typing speed and accuracy compare to others. Strive to improve your
        ranking and challenge yourself with each test.
      </p>

      <p>
        Join KeyboardMasters.org today to practice typing, improve your skills,
        and achieve your typing goals!
      </p>
    </ng-content>
  </div>
</div>
