<div class="wrapper">
  <div class="portfolio-section section">
    <div class="portfolio-contant">
      <div class="portfolio-text">
        <p id="section-portfolio" class="small-paragraph">Discover my work</p>
        <h1 class="section-title">Porfolio</h1>
      </div>
    </div>
    <div class="portfolio-container" id="keyboard-masters">
      <div class="photo-container">
        <img src="projects/keyboard-masters.png" alt="keyboardmasters.org" />
      </div>
      <div class="project-container">
        <p class="project-name">Personal Project</p>
        <h2 class="project-title">Keyboard Masters</h2>
        <p class="project-description">
          Keyboard Masters is an advanced typing test and practice tool designed
          to enhance typing speed and accuracy. Featuring a vast dataset of
          diverse words and extensive customizability options, it provides a
          personalized learning experience for users of all skill levels.
        </p>
        <app-button
          [buttonText]="'View Project'"
          [buttonAction]="doNothing"
        ></app-button>
      </div>
    </div>
    <!--  -->
    <div class="portfolio-container" id="converter">
      <div class="project-container">
        <p class="project-name">Udemy Course Project</p>
        <h2 class="project-title">Currency converter</h2>
        <p class="project-description">
          This project is an interactive and user-friendly currency converter
          web application. It allows users to convert between multiple
          currencies. The interface is designed for ease of use, providing quick
          and accurate currency conversions with a sleek and modern design.
        </p>
        <app-button
          [buttonText]="'View Project'"
          [buttonAction]="doNothing"
        ></app-button>
      </div>
      <div class="photo-container">
        <img src="projects/currency-converter.png" alt="converter" />
      </div>
    </div>
  </div>
</div>
