---
const { label, color } = Astro.props;
---

<button style={`background-color: ${color};`}>
  {label}
</button>

<style>
    button{
        padding: 1em;
        border: none;
        color: white;
        cursor: pointer
    }
</style>