---

---

<header>
  <h2>Mi tienda online</h2>
  <nav>
    <a href="/">Inicio</a>
    <a href="secondary">Secondary</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
</style>
