<div class="container">
  <h1>Quiz history</h1>
  <div *ngIf="history.length > 0; else noHistory">
    <ul>
      <li *ngFor="let entry of history">
        <div class="history-item">
          <p>
            <strong>{{ entry.quizTitle }}</strong>
          </p>
          <p>Score: {{ entry.score }}/{{ entry.maxScore }}</p>
          <p>Date: {{ entry.date | customDate : "short" }}</p>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noHistory>
    <p>No histry available.</p>
  </ng-template>
</div>
