.container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}

ul {
  list-style-type: none;
}

.history-item {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.history p {
  margin: 5px 0;
}
