<div class="wrapper">
  <div class="pwned-password-checker">
    <h2>Check If your password has been pwned</h2>

    <div class="password-checker">
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Enter password..."
        (input)="onPasswordInput()"
      />
      <button (click)="checkPassword()">Check</button>
    </div>

    <div *ngIf="passwordStatus !== null">
      <p *ngIf="passwordStatus === true" class="pwned">
        This password has been pwned!
      </p>
      <p *ngIf="passwordStatus === false" class="safe">
        This password is safe!
      </p>
      <p *ngIf="passwordStatus === 'error'" class="error">
        Error checking passord. Please try again later!
      </p>
    </div>
  </div>
</div>
