.game-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  width: 335px;
  min-height: 335px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 1px;
}

.game-status {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  p {
    color: #333;
  }

  .won {
    color: green;
  }

  .lost {
    color: red;
  }
}
