* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background: url("/wood.png") repeat;
  background-size: auto;
  background-attachment: fixed;
}
