---
import { ClientRouter, ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";

import "../styles/global.css";

// Server Only o Build Time
const name = "Unai";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- ViewTransition deprecated use ClientRouter -->
    <!-- <ViewTransitions /> -->
    <ClientRouter />
  </head>
  <body>
    <!-- <h1>Hola {name}</h1> -->

    <Navbar />

    <main>
      <slot />
    </main>

    <footer></footer>
  </body>
</html>
