*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    height: 100%;
    width:100%;
}
body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(54, 186, 231);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(2, 108, 143);
}

#page2 h1{
    font-size: 40vw;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
}