<header>
  <div class="logo-container">
    <h2 id="logo"><a routerLink="/home">KeyboardMasters.org</a></h2>
  </div>

  <div class="login-register-container desktop-only">
    <p>
      Click here to <a routerLink="/login">login</a>. You do not have an
      acccount?
      <a routerLink="/register">Register now!</a>
    </p>
  </div>
</header>
<div class="menu-container">
  <div class="main-menu">
    <div class="menu-item" routerLink="/home">Home</div>
    <div class="menu-item" routerLink="/typing_test">Typing Test</div>
    <div class="menu-item" routerLink="/leaderboard">Leaderboard</div>
    <div class="menu-item" routerLink="/themes">Themes</div>
    <div class="menu-item" routerLink="/about">About</div>
    <div class="menu-item" routerLink="/account">My Account</div>
  </div>
</div>
