<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
  </head>
  <body style="background-color: #333; color: #fff">
    <h1
      th:text="${header}"
      style="text-align: center; color: lightskyblue"
    ></h1>
    <hr />
    <p th:text="${description}"></p>

    <h2>Usuarios</h2>
    <ul>
      <li th:text="${user.name}"></li>
      <li th:text="${user.lastName}"></li>
      <li th:if="${user.email != null}" th:text="${user.email}"></li>
    </ul>
  </body>
</html>
