<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
    <style>
      a {
        color: lightgreen;
        margin-bottom: 10px;
        display: inline-block;
      }
    </style>
  </head>
  <body style="background-color: darkslateblue; color: lightyellow">
    <h1>Usuarios</h1>

    <div th:if="${#lists.isEmpty(users)}">
      <p>No tiene elementos.</p>
    </div>

    <div th:unless="${#lists.isEmpty(users)}">
      <table border="1" style="background-color: rebeccapurple">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email} ?: 'Sin email'"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />

    <h2>Navegación</h2>
    <a th:href="@{/user}">Usuario</a> <br />
    <a th:href="@{'/api/params/foo?message=' + ${title}}">Api</a> <br>
    <a th:href="@{/api/params/bar(text='Texto de prueba', code=404)}"
      >Api - Otra Forma</a
    >
  </body>
</html>
