/* ::before y ::after */
.nota::before {
  content: "💡 ";
  color: goldenrod;
}

.nota::after {
  content: " ✔";
  color: green;
}

/* ::backdrop — para <dialog> */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

dialog {
  padding: 1rem;
  /* width: 70%;
  height: 80dvh; */
  border: none;
  border-radius: 8px;
}

/* ::file-selector-button */
input[type="file"]::file-selector-button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
